.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.box {
    border: solid 2px rgba(125, 125, 125, 0.2);
    margin: 20px 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
}

label {
    font: 800;
    font-size: 1.2em;
    padding: 10px 10px;
}

/* CSS */
.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

.boxAths {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.boxNames {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
}

.boxName {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.boxName h3 {
    margin: 10px;
}

.boxSet {
    background-color: cornsilk;
    padding: 20px;
}

.setLabel {
    font-size: 40px;
}

.boxPoint {
    background-color: rgba(32, 207, 181, 0.334);
    padding: 20px;
}

/* CSS */
button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.input-form {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 200px;
    padding: 10px 10px;
}

.input-form:nth-child(odd) {
    background-color: rgb(176, 176, 176);
    color: rgb(241, 241, 241);
}

.input-form label {
    width: 150px;
}

.input-form input {
    width: 50px;
}