.box_logo {
    position: absolute;
    top: var(--position-y-logo);
    left: var(--position-x-logo);
    width: var(--width-logo);
    height: var(--height-logo);
}

.logo {
    width: var(--width-logo);
    height: var(--height-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box_chrono {
    display: flex;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    position: absolute;
    margin: auto;
    align-items: center;
    padding: 10px auto;
    z-index: 1;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    top: var(--position-y-chrono);
    left: var(--position-x-chrono);
    background-color: var(--background-color-chrono);
}

.chrono {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    text-align: center;
    width: 120px;
    font-family: var(--font-chrono);
    margin: auto;
    font-family: var(--font-chrono);
    font-size: var(--size-font-chrono);
    color: var(--color-chrono);
    /* border-bottom: solid white 1px; */
}

.cap {
    font-style: italic;
    padding: 0px 10px;
    margin: 0px auto;
    font-family: var(--font-timecap);
    background-color: var(--background-color-timecap);
    color: var(--color-timecap);
    font-size: var(--size-font-timecap);
}

.box_heat {
    position: relative;
    color: var(--tx_main_color);
    font-family: Slenco;
    font-weight: 800;
    top: 0px;
    left: 0px;
    font-size: 1.4rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* text-shadow: 2px 2px 4px #000000; */
    height: 75px;
    width: 1000px;
}

.heat {
    position: relative;
    top: var(--position-y-heat);
    left: var(--position-x-heat);
}

.header .box_heat .mvt {
    position: relative;
    top: var(--top-mvt);
    left: var(--left-mvt);
    font-weight: 800;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--others-color-mvt);
    text-transform: uppercase;
    letter-spacing: 0.1px;
    width: var(--width-mvt);
}

.mvt span {
    padding: 10px;
    letter-spacing: var(--letter-spacing-mvt);
    font-family: var(--font-others-mvt);
    font-size: var(--size-font-mvt);
}

.mvt span:first-child {
    color: var(--first-color-mvt);
    font-weight: 800;
    font-size: var(--size-font-mvt);
    font-family: var(--font-first-mvt);
}

.workout {
    position: relative;
    top: var(--position-y-workout);
    left: var(--position-x-workout);
    font-size: var(--size-font-workout);
    font-family: var(--font-workout);
    color: var(--color-workout);
    background-color: var(--background-color-workout);
    width: var(--width-workout);
    margin: auto;
    font-weight: 800;
}

.division {
    position: relative;
    margin: auto;
    top: var(--position-y-division);
    left: var(--position-x-division);
    font-size: var(--size-font-division);
    font-family: var(--font-division);
    color: var(--color-division);
    background-color: var(--background-color-division);
    width: var(--width-division);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

.heat_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: var(--size-font-heat);
    font-family: var(--font-heat);
    color: var(--color-heat);
    background-color: var(--background-color-heat);
}

.heatlow {
    width: fit-content;
    min-width: var(--width-heat);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}


.mainSponsor {
    position: absolute;
    top: var(--position-y-main-sponsor);
    left: var(--position-x-main-sponsor);
    margin-right: 5px;
    max-height: var(--height-main-sponsor);
    max-width: var(--width-main-sponsor);
    text-align: center;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    /* <------ */
    background-position: center center;
}

.target {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    max-width: 50px;
}

.box_svg {
    position: absolute;
    z-index: -10;
}