.topLeaderboard {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    margin: auto;

}

.athletesTopLeaderboard {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    margin: auto;
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;

}

.athleteTop {
    display: flex;
    margin: 0px 0px;
    flex-direction: column;
    text-align: left;
    margin: 0px 10px;
    padding: 5px;
}


.athleteTop .popupTop {

    /* haut left right bas */
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: rgba(49, 49, 49, 0.787);
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



.athTop {
    height: 30px;
    z-index: 80;
    padding: 0px 00px 0px 10px;
    /* display: flex; */
    align-items: left;
    /* min-width: 350px; */
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}

.athTop .rank {
    padding: 10px;
}

.athTop .nameTop {
    /* padding-left: 20px; */
    font-size: 20px;
    /* min-width: 250px; */
    min-width: 100px;
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    /* font-size: var(--sizeFontAthlete_top); */
}



.athTop .scoreTop {
    min-width: 60px;
    text-align: center;

    /* min-width: 150px; */
    color: black;
    background-color: white;
    font-size: var(--sizeFontScore_top);
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;

    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}




/* LEADERBOARD */


.leaderboards {
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: var(--position-y-leaderboard);
    font-size: 1rem;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    /* height: calc(800px); */
    /* overflow: hidden; */
    font-family: var(--fontAthlete-select);
}

/* .leaderboard {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 92%;
    width: 500px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
} */

.leaderboard {
    left: var(--position-x-leaderboard);
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 92%;
    width: 300px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.leaderboard .header {
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
    height: 35px;
    font-weight: 900;
    font-size: var(--SizeFontHeaderOverlaySide);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    /* background-color: rgba(197, 197, 197, 0.824); */
    color: white;
    /* border-bottom: 2px white solid; */
    /* left: 43px; */
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    width: 200px;
}


.leaderboard .division {
    font-size: var(--SizeFontDivisionOverlaySide);
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .repTar {
    text-align: right;
    margin: auto;
    font-size: var(--SizeFontRepTargetOverlaySide);
    padding-right: 10px;
}

.leaderboard .athletes {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: var(--SizeNameoverlaySide);
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    /* margin: 2px 0px; */
}

.leaderboard .athlete {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* border-bottom: #ffffff solid 1.5px; */
}

.leaderboard .athletes .ath {
    /* background-image: url('./../../img/cadre_world.png'); */
    height: 42px;
    /* width: 243px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: var(--height_ath_side); */
    /* background-color: rgba(10, 10, 10, 0.5); */
    /* color: var(--tx_main_color); */
    margin: auto;
    font-size: var(--sizeFontAthlete_top);
    /* margin: 8px 0px; */
    /* padding: 10px 0px; */
    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.leaderboard .athlete .rank {
    /* position: absolute;
    left: -70px; */
    /* text-shadow: 2px 2px 4px #000000; */
    /* padding: 2px 5px; */
    text-align: center;
    /* width: 80px; */
    /* padding-right: 7px; */
    /* border-right: 2px solid white; */
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.leaderboard .athlete .lane {
    /* text-shadow: 2px 2px 4px #000000; */
    /* haut left right bas */
    padding: 2px 5px;
    text-align: center;
    /* width: 50px; */
    filter: blur(0px);
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    /* épaisseur + couleur du contour */
}

.leaderboard .athlete .name {
    padding: 2px 10px;
    text-transform: uppercase;
    font-weight: 900;
    /* width: var(--px_name_top);
    min-width: 150px; */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;

    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.leaderboard .athlete .score {
    /* haut left right bas */
    padding: 2px 10px;
    text-align: center;
    border-radius: --(border);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;

    font-family: "manifold-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.leaderboard .athlete .flag {
    /* haut left right bas */
    padding: 5px 5px 5px 5px;
    /* height: var(--height_ath_side); */
    width: 40px;
    align-items: center;
}

.leaderboard .athlete .flag .box_flag {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rounds {
    width: 45px;
    max-width: 45px;
    text-align: center;
    background-color: white;
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup {
    /* haut left right bas */
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    height: 20px;
    color: white;
    background-color: rgba(49, 49, 49, 0.64);
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athletes .powered {
    /* haut left right bas */
    padding: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    height: var(--height_ath_side);
    font-size: 12px;
    width: 300px;
}


.first-rank {
    border: #29a8e0 2px solid;
}