.header {
    box-shadow: var(--box-shadow-header-tv);
    position: absolute;
    width: 100%;
    height: var(--height-header-tv);
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main_color);
    color: var(--tx-main_color);
    padding: var(--padding-header-tv);
}

.box_logo {
    margin: auto auto;
    height: var(--height-box-logo-tv);
    /* z-index: 21; */
}

.logo {
    height: var(--height-logo-tv);
    width: var(--width-logo-tv);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box_chrono {
    border: solid var(--border-width-chrono-tv) var(--border-color-chrono-tv);
    border-radius: var(--border-radius-chrono-tv);
    width: var(--width-chrono-tv);
    /* height: 90px; */
    transform-origin: 50% 50%;
    text-align: center;
    align-items: center;
    z-index: 30;
    background-color: var(--background-color-chrono-tv);
    box-shadow: var(--box-shadow-chrono-tv);
}

.chrono {
    font-size: var(--font-size-chrono-tv);
}

#time {
    /* padding: 5px; */
}

#cap {
    font-size: var(--font-size-cap-tv);
    color: var(--color-cap-tv);
}

.box_heat {
    color: var(--color-heat-tv);
    width: var(--width-heat-tv);
    padding: var(--padding-heat-tv);
    padding-left: var(--padding-left-heat-tv);
}

.heat_content {
    display: flex;
    flex-direction: row;
}

.details {
    display: flex;
    flex-direction: column;
    width: var(--width-details-tv);
}

.details #workout {
    font-size: var(--font-size-workout-tv);
}

.details #division {
    font-size: var(--font-size-division-tv);
}

.box_mainSponsor {
    padding-top: var(--padding-top-main-sponsor-tv);
    display: flex;
    flex-direction: row;
}

.presented {
    padding-right: var(--padding-right-presented-tv);
}

.mainSponsor {
    width: var(--width-main-sponsor-tv);
    height: var(--height-main-sponsor-tv);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box_FVSK {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FV {
    margin: var(--margin-fvsk-tv);
    background-image: url('../../img/PRESTA/FV-logo.png');
    background-position: var(--background-position-fv-tv);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--width-fv-tv);
    height: var(--height-fv-tv);
}

.SK {
    margin: var(--margin-fvsk-tv);
    background-image: url('../../img/PRESTA/SK-logo.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--width-sk-tv);
    height: var(--height-sk-tv);
}