.header {
    display: block;
    position: absolute;
    top: 0px;
    left: -10px;
    width: var(--width_top);
    height: 100px;
    color: var(--tx_second_color);
    font-family: var(--fontWorkoutTop-select);
}

/* top | right | bottom | left */

.header .box_logo {
    z-index: 50;
    position: absolute;
    top: var(--position-y-logo);
    left: var(--position-x-logo);
    text-align: right;
    width: var(--width-logo);
    height: var(--heigth-logo);
    /* background-color: var(--box_logo_color); */
    text-align: center;
}

.header .box_logo .logo {
    margin: auto;
    padding: 15px;
    width: var(--width-logo);
    height: var(--heigth-logo);
    background-repeat: no-repeat;
    background-size: contain;
    /* <------ */
    background-position: center;
    background-origin: content-box;
}

.header .box_heat {
    z-index: 40;
    position: absolute;
    top: var(--position-y-workout);
    left: var(--position-x-workout);
    width: var(--width_box_heat);
    height: 100px;
    /* color: var(--tx_second_color); */
    letter-spacing: var(--letter-spacing-font-workout);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.header .box_heat .workout {
    color: var(--color-workout);
    font-size: var(--size-font-workout);
    font-family: var(--font-workout);
}

.header .box_heat .heat {
    color: white;
    display: inline-block;
    width: var(--width_box_heat);
    height: 100px;
}

.header .box_heat .heat_content {
    display: flex;
    flex-direction: row;
    height: 75px;
}

.header .box_heat .heat_content .details {
    /* position: absolute;
    top: 18px;
    left: 260px; */
    font-size: var(--size-font-workout);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    width: 1210px;
}

.header .box_heat .heat_content .details .detail {
    min-width: fit-content;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shadow-container {
    position: relative;
    background: #000;
    /* ou ton fond */
    overflow: hidden;
}

.right-shadow {
    position: relative;
    background: #000;
    /* ton fond */
    overflow: hidden;
}

.fade-right {
    -webkit-mask-image: linear-gradient(to left,
            transparent 0%,
            black 40%);
    mask-image: linear-gradient(to left,
            transparent 0%,
            black 40%);
}


.header .box_heat .heat_content .details .mvt {
    font-weight: 800;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--others-color-mvt);
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.mvt span {
    padding: 10px;
    letter-spacing: var(--letter-spacing-mvt);
    font-family: var(--font-others-mvt);
    font-size: var(--size-font-mvt);
}

.mvt span:first-child {
    color: var(--first-color-mvt);
    font-weight: 800;
    font-size: var(--size-font-mvt);
    font-family: var(--font-first-mvt);
}

/* 
#mvt span:first-child::after {
    content: " // ";
} */

.header .box_mainSponsor {

    position: absolute;
    top: var(--position-y-main-sponsor);
    left: var(--position-x-main-sponsor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}




.header .box_mainSponsor .mainSponsor {
    padding: 10px 10px 10px 10px;
    width: var(--width-main-sponsor);
    height: var(--height-main-sponsor);
    background-repeat: no-repeat;
    background-size: contain;
    /* <------ */
    background-position: center;
    background-origin: content-box;
}

.header .box_chrono {
    z-index: 2;
    position: absolute;
    top: var(--position-y-chrono);
    left: var(--position-x-chrono);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* background-color: var(--chrono_color); */
}

.header .box_chrono .chrono {
    margin: 5px auto;
    width: 120px;
    text-align: center;
    color: var(--color-chrono);
    font-family: var(--font-chrono);
    font-size: var(--size-font-chrono);
}

.header .box_chrono .chrono .cap {
    font-size: var(--size-font-timecap);
    /* background-color: var(--main_color); */
    font-family: var(--font-timecap);
    color: var(--color-timecap);
    margin: 1px auto;
    width: 120px;
    padding: 5px;
    text-align: center;
}