.box_chrono {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
}

.chrono {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    line-height: 32px;
    color: rgb(145, 235, 88);
    text-align: right;
    font-variant-numeric: tabular-nums;
    font-size: 37px;
}

.cap {
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4px;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 23px;
}