.titleScore {
    text-align: center;
    flex: 1 1 0%;
}

.scoreCell {
    flex: 1 1 auto;
}

.scoreItem {
    position: relative;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    font-size: 22.6px;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: right;
    flex: 0 0 auto;
    font-variant-numeric: tabular-nums;
}