#workout {
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}