body {
    background-color: var(--background-color-body);
    /* font-family: var(--font-select); */
    background-size: cover;
    zoom: var(--zoom);
}

.nobody {
    background-color: var(--background-color-body);
}

.leaderboards {
    z-index: 10;
    position: absolute;
    font-size: 1rem;
    height: 50px;
    width: var(--width_calc_top);
    top: var(--position-y-leaderboard);
    left: var(--position-x-leaderboard);
}

.leaderboardsBottom {
    z-index: 10;
    position: absolute;
    font-size: 1rem;
    height: 50px;
    width: 1920px;
    bottom: 0px;
    left: 0px;
}

.leaderboard {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--width_calc_top);
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.leaderboard .athletes {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7;
}

.leaderboard .athlete {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: var(--margin-athlete);
    padding: var(--padding-athlete);
    width: var(--width-athlete);
    background-color: var(--background-color-athlete);
    color: var(--color-athlete);
}

.leaderboard .athletes .ath {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--height_ath_top);
    padding-right: 5px;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border: solid 1px rgba(255, 255, 255, 0.3); */
}

.ath:after {}

.leaderboard .athlete .rank {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--width-rank);
    /* margin: auto; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: solid 2px rgb(255, 255, 255);
}

.leaderboard .athlete .ath_sub {
    display: flex;
    flex-direction: row;
    /* min-width: var(--width-name); */
}

.leaderboard .athlete .lane {
    height: var(--height-lane);
    display: flex;
    align-items: center;
    text-align: center;
    width: var(--width-lane);
    /* margin: auto; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color-lane);
    color: var(--color-lane);
}

.leaderboard .athlete .name {
    height: var(--height-lane);
    display: flex;
    align-items: baseline;
    text-align: center;
    /* position: relative;
    bottom: -2px; */
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* min-width: var(--width-name); */
    letter-spacing: var(--letter-spacing-first-name);
}

.leaderboard .athlete .firstName {
    font-family: var(--font-first-name);
    font-size: var(--size-font-first-name);
    font-weight: 200;
    padding-right: 2px;
}

.leaderboard .athlete .lastName {
    font-family: var(--font-last-name);
    font-size: var(--size-font-last-name);
    font-weight: 800;
    padding-left: 2px;
}

.leaderboard .athlete .name .initial {
    font-weight: 100;
}

.leaderboard .athlete .flag {
    padding: 5px 8px;
    height: var(--height-flag);
    width: var(--width-flag);
    align-items: center;
    display: flex;
    justify-content: center;
}

.leaderboard .athlete .flag .box_flag {
    border-radius: 50%;
    height: var(--height-box-flag);
    width: var(--width-box-flag);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: var(--transition-fast);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.leaderboard .athlete .score {
    /* haut left right bas */
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width-score);
    max-width: var(--width-score);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 7px 2px 23px -20px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 7px 2px 23px -20px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 7px 2px 23px -20px rgba(0, 0, 0, 1) inset;
    height: 42px;
    background-color: white;
    color: black;
    font-size: var(--size-font-score);
    font-family: var(--font-score);
}


.rounds {
    width: 45px;
    max-width: 45px;
    text-align: center;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup {
    /* haut left right bas */
    z-index: 1;
    width: var(--width-popup);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--size-font-popup);
    font-family: var(--font-popup);
    padding-top: 2px;
    padding-bottom: 2px;
    /* height: var(--height_popup_top); */
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-color-popup);
    color: var(--var(--color-popup));
}

.leaderboard .athletes .powered {
    /* haut left right bas */
    padding: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    width: 300px;
}


.box_bandeau {
    padding: 10px;
    z-index: 20;
    width: calc(1920px);
    overflow: hidden;
    position: absolute;
    display: flex;
    background: linear-gradient(90deg, var(--first_linear_gradient) 0%, var(--second_linear_gradient) 18%, var(--first_linear_gradient) 35%, var(--second_linear_gradient) 66%, var(--first_linear_gradient) 100%);
    color: white;
    bottom: 0px;
    left: 0px;
    font-size: 30px;
}

.bandeau {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 30s infinite linear;
}

.bandeau span {
    width: max-content;
}


@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}