.leaderboards {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard .header {
    text-transform: uppercase;
    height: 40px;
    padding: 10px 10px;
    font-weight: 900;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    border-bottom: 2px rgb(181, 210, 36) solid;
    border-top: 2px rgb(181, 210, 36) solid;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.leaderboard .division {
    width: 15%;
}


.leaderboard #mvt {
    width: 70%;
    text-transform: capitalize;
    padding: 0px 5px;
}

.leaderboard #mvt span:first-child {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    color: rgb(181, 210, 36);
    padding-right: 10px;
    /* padding: 10px; */
}

.leaderboard #mvt span {
    padding: 0px 5px;
    /* padding: 10px; */
}

.leaderboard #mvt span:first-child::after {
    content: ' //';
}

.leaderboard .repTar {
    text-align: right;
    /* margin: auto; */
    width: 15%;
    justify-content: end;
    align-items: center;
    /* background-color: var(--second_color); */
}


div.dataTables_wrapper {
    border-collapse: collapse;
    font-size: 1.2em;
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

div.dataTables_wrapper td {
    /* white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.lane {
    background-color: white;
    z-index: 10;
    /* width: 100px; */
}

.flag {
    background-color: white;
    z-index: 10;
    height: 20px;
}

.box_flag {
    z-index: 10;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.name {
    background-color: white;
    z-index: 10;
    text-align: left;
}

.name:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.reppersec {
    background-color: white;
    z-index: 10;
    text-align: center;
}

th {
    background-color: white;
    z-index: 10;
    text-align: center;
}

.bestStat {
    background-color: green;
    color: white;
    font-weight: bold;
}

.Opoint {
    /* width: 70px; */
    /* max-width: 70px; */
}

.Orank {
    /* width: 70px; */
    /* max-width: 70px; */
}

.rank {
    /* width: 70px; */
    /* max-width: 70px; */
}

thead .score {
    background-color: white;
    color: black;
}

.score {
    background-color: white;
    z-index: 10;
    color: black;
}

.popup {
    background-color: white;
    background-color: white;
    z-index: 10;
    color: black;
    word-wrap: break-word;
    /* ancien */
    overflow-wrap: break-word;
    /* recommandé */
}

.rounds {
    background-color: white;
    background-color: white;
}

.bestStat {
    background-color: green;
    color: white;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}