.topLeaderboard {
    position: absolute;
    top: var(--yPositionScore_top);
    left: var(--xPositionScore_top);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    margin: auto;

}

.athleteTop {
    display: flex;
    min-height: 68px;
    margin: 0px 0px;
    flex-direction: row;
    text-align: left;
    min-width: 100px;
    max-width: 100px;

    font-family: var(--fontAthlete-select);
}

.athleteTop:nth-child(1) {
    justify-content: flex-end;

}

.athleteTop:nth-child(2) {
    justify-content: flex-start;

}

.athTop_detail {
    /* display: flex; */
    flex-direction: column;
    align-items: end;
}


.athTop {
    z-index: 80;
    /* display: flex; */
    align-items: center;
    /* min-width: 350px; */
}

.athleteTop:nth-child(1) .athTop_detail .athTop .name {
    /* background: var(--first_left_bg_color); */
    /* color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.athleteTop:nth-child(2) .athTop_detail .athTop .name {
    /* background: var(--first_right_bg_color); */
    /* color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}


.athTop .rank {
    padding: 10px;
}

.athTop .name {
    min-height: 18px;
    /* padding-left: 20px; */
    font-size: 10px;
    /* min-width: 250px; */
    padding-bottom: 2px;

    /* font-size: var(--sizeFontAthlete_top); */
}

.athleteTop:nth-child(1) .athTop_detail .athTop .name {
    padding-right: 10px;
    text-align: right;
}

.athleteTop:nth-child(2) .athTop_detail .athTop .name {
    padding-left: 10px;
}

.athTop .score {
    min-height: 50px;
    min-width: 100px;
    padding: 10px;
    /* min-width: 150px; */
    /* background-color: white; */
    font-size: var(--sizeFontScore_top);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.athleteTop:nth-child(1) .athTop_detail .athTop .score {
    color: var(--first_left_bg_color);
    text-align: right;
    /* border: 3px solid var(--first_left_bg_color); */
}

.athleteTop:nth-child(2) .athTop_detail .athTop .score {
    color: var(--first_right_bg_color);
    text-align: left;
    /* border: 3px solid var(--first_right_bg_color); */
}

.athTop_detail .popup_top {
    z-index: 10;
    width: 94px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    border-radius: 0px 0px 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    height: 30px;
    color: white;
    background-color: rgba(49, 49, 49, 0.64);
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* LEADERBOARD */


.leaderboards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: var(--y_leaderboard_top);
    font-size: 1rem;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    height: calc(800px);
    overflow: hidden;
    font-family: var(--fontAthlete-select);
}

/* .leaderboard {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 92%;
    width: 500px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
} */

.leaderboard:nth-child(1) {
    left: var(--x_leaderboard_top);
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 92%;
    width: 300px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard:nth-child(2) {
    right: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 92%;
    width: 300px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

/* .leaderboard:nth-child(3) {

    display: none;
}

.leaderboard:nth-child(4) {
    display: none;
} */


.leaderboard .header {
    font-family: var(--fontAthlete-select);
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
    height: 35px;
    font-weight: 900;
    font-size: var(--SizeFontHeaderOverlaySide);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    /* background-color: rgba(197, 197, 197, 0.824); */
    color: white;
    /* border-bottom: 2px white solid; */
    /* left: 43px; */
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    width: 200px;
}


.leaderboard .division {
    font-size: var(--SizeFontDivisionOverlaySide);
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .repTar {
    text-align: right;
    margin: auto;
    font-size: var(--SizeFontRepTargetOverlaySide);
    padding-right: 10px;
}

.leaderboard .athletes {
    color: var(--tx_second_color);
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: var(--SizeNameoverlaySide);
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    margin: 2px 0px;
}

.leaderboard .athlete {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.leaderboard .athletes .ath {
    /* background-image: url('./../../img/cadre_world.png'); */
    height: 42px;
    width: 243px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: var(--height_ath_side); */
    background-color: rgba(10, 10, 10, 0.5);
    color: var(--tx_main_color);
    margin: auto;
    font-size: var(--sizeFontAthlete_top);
}

.leaderboard .athlete .rank {
    position: absolute;
    left: -70px;
    text-shadow: 2px 2px 4px #000000;
    padding: 2px 5px;
    text-align: center;
    width: 80px;
    padding-right: 7px;
    /* border-right: 2px solid white; */
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .lane {
    text-shadow: 2px 2px 4px #000000;
    /* haut left right bas */
    padding: 2px 5px;
    text-align: center;
    width: 50px;
    filter: blur(0px);
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .name {
    /* text-shadow: 2px 2px 4px #000000; */
    /* haut rigth bas left */
    padding: 2px 10px;
    text-transform: uppercase;
    font-weight: 900;
    width: var(--px_name_top);
    min-width: 130px;
    text-align: left;
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard .athlete .score {
    /* haut left right bas */
    padding: 2px 10px;
    width: var(--px_score);
    max-width: 120px;
    text-align: center;
    border-radius: --(border);
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard .athlete .flag {
    /* haut left right bas */
    padding: 5px 5px 5px 5px;
    /* height: var(--height_ath_side); */
    width: 40px;
    align-items: center;
}

.leaderboard .athlete .flag .box_flag {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rounds {
    width: 45px;
    max-width: 45px;
    text-align: center;
    background-color: white;
    /* height: var(--height_ath_side); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup {
    /* haut left right bas */
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    height: 20px;
    color: white;
    background-color: rgba(49, 49, 49, 0.64);
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athletes .powered {
    /* haut left right bas */
    padding: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    height: var(--height_ath_side);
    font-size: 12px;
    width: 300px;
}